.box {
  width: 600px;
  padding: 20px;
  top: 100px;
  font-size: 16px;
  text-align: start;
}

h3 {
  text-align: center;
}

.box input {
  padding: 5px;
  height: 35px;
}

.box button {
  width: 100px;
}
